<html>
  <head>
    <title>Relays Manager</title>
  </head>
  <body>


    <h2>Relays manager</h2>
 <h4>Date: {{llista[-1][0]}}  Time: {{llista[-1][1]}}</h4>
    <table border="3">
      <tr align="center">
        <th>Date</th>
	<th>Time</th>
	<th>Mixer</th>
	<th>Heater</th>
	<th>Fermentation Valve</th>
	<th>Beer Valve</th>
      </tr>
	{% for row in llista %}
          <tr align="center">
	  {% for cell in row %}
	    <td> {{cell}} </td>
	  {% endfor %}  
	  </tr>  
	{% endfor %} 
      </tr>
    </table> 
  	<form action="/relays" method="post">
  <br>Mixer: <button type="submit" name="Mixer" value="ONM">ON</button> <button type="submit" name="Mixer" value="OFFM">OFF</button> 
	<br>Heater: <button type="submit" name="Heater" value="ONH">ON</button> <button type="submit" name="Heater" value="OFFH">OFF</button> 
  <br>Fermval: <button type="submit" name="Fermval" value="ONF">ON</button> <button type="submit" name="Fermval" value="OFFF">OFF</button> 
  <br>Beer Valve: <button type="submit" name="Beerval" value="ONB">ON</button> <button type="submit" name="Beerval" value="OFFB">OFF</button>
  </body>
</html>




