<html>
  <head>
    <title>Relays Manager</title>
  </head>
  <body>


    <h2>Relays manager</h2>
 <h4>Date: {{llista[-1][0]}}  Time: {{llista[-1][1]}}</h4>
    <table border="3">
      <tr align="center">
        <th>Date</th>
	<th>Time</th>
	<th>Mixer</th>
	<th>Heater</th>
	<th>Fermentation Valve</th>
	<th>Beer Valve</th>
      </tr>
	{% for row in llista %}
          <tr align="center">
	  {% for cell in row %}
	    <td> {{cell}} </td>
	  {% endfor %}  
	  </tr>  
	{% endfor %} 
      </tr>
    </table> 
  	<form action="/relays" method="post">
	<br><input type="submit" name="Mixer" value="MIXER"><input type="submit" name="Heater" value="HEATER" ><input type="submit" name="Fermval" value="FERMENTATION VALVE"><input type="submit" name="Beerval" value="BEER VALVE"> 
	
  
  </body>
</html>




